<div class="relative grid mb-8 max-w-[1104px] mx-auto">
    <h3 class="self-center mb-0 justify-self-center">{{ heading }}</h3>
    <a class="absolute justify-self-end self-center text-[#134A6C] no-underline">
        See all >
    </a>
</div>

<ng-container *ngIf="(products$ | async) as products">
    <c-carousel [dark]="true" [interval]="0" transition="slide" *ngIf="products.length > 0; else loading">
        <c-carousel-inner>
            <c-carousel-item *ngFor="let chunk of products">
                <div class="flex justify-center">
                    <div class="flex gap-x-4">
                        <item *ngFor="let product of chunk" [product]="product"></item>
                    </div>
                </div>
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev" class="previous"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next" class="next"></c-carousel-control>
    </c-carousel>
</ng-container>

<div class="h-[5px] bg-black w-full my-9"></div>

<div class="grid grid-cols-4 gap-[1rem] mb-[1rem] max-w-[1104px] mx-auto" *ngFor="let chunk of (products$ | async)">
    <div *ngFor="let product of chunk" class="h-[300px] border-2 bg-green-400 border-green-600 rounded-lg flex justify-center items-center col-span-1">
        <div class="flex flex-col items-center gap-x-3 cursor-pointer" (click)="deleteProduct(product.id)">
            <h3>{{ product.title }} ({{ product.id }})</h3>
            <h5 class="text-gray-600 line-through">RM{{ product.price }}</h5>
            <h3>RM{{ product.price * (100 - product.discount) / 100 | number: '.2-2' }}</h3>
        </div>
    </div>
</div>

<div class="h-[5px] bg-black w-full my-9"></div>

<div class="max-w-[1104px] mx-auto" *ngFor="let product of (products$ | async); let i = index">
    <h5 *ngFor="let p of product">{{ p | json }}</h5>
</div>

<ng-template #loading>
    <div class="h-[300px] bg-blue-400 border-blue-800 border flex justify-center items-center">
        <h2 class="italic text-blue-700">Loading...</h2>
    </div>
</ng-template>
