.gradient-container {
    background: transparent linear-gradient(106deg, #ffe9d6 0%, #ffdbcb 100%) 0%
        0% no-repeat padding-box;
    border-radius: 6px;
}

.quantity-input {
    border-radius: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}
