<section class="h-[36px] bg-[#F7FAFC] mb-[19px]">
    <div class="max-w-[1104px] mx-auto flex items-center h-full text-sm">
        <span>Home</span>
        <div class="flex items-center justify-end flex-grow gap-x-4">
            <div class="px-[16px] pt-[9px] pb-[10px] text-white bg-[#134A6C] leading-[17px]">Register for FREE</div>
            <span>Blog</span>
            <span>About</span>
            <span>Outlets</span>
        </div>
    </div>
</section>
<section class="max-w-[1104px] mx-auto flex items-center h-[44px] text-sm mb-[40px]">
    <img src="https://via.placeholder.com/117x44?text=Logo" alt="Logo" class="block max-w-[117px]"/>
    <div class="flex items-center justify-end flex-grow">
        <input type="text" placeholder="Dim Sum" class="w-[388px] h-[44px] mr-[16px] px-[16px] border">
        <img src="https://via.placeholder.com/44?text=CI" alt="Cart Icon" class="block mr-[32px]"/>
        <img src="https://via.placeholder.com/165x44?text=Second Logo" alt="Second Logo" class="block max-w-[165px]"/>
    </div>
</section>
