<div class="bg-[#5CC0A2] h-1 mb-8"></div>

<section class="grid grid-cols-4 max-w-[1104px] mx-auto">
    <!-- Column 1 -->
    <div class="flex flex-col">
        <img src="https://via.placeholder.com/117x44?text=Logo" alt="Logo" class="block mb-[1rem] max-w-[117px]"
            loading="eager" />
        <span class="text-sm mb-[46px]">© Copyright 2022 XINN HOLDINGS SDN. BHD.</span>
        <span class="mb-[1rem] leading-5">Look For Us On</span>
        <div class="flex mb-12 gap-x-3">
            <img src="https://via.placeholder.com/24x24?text=F" alt="Facebook" class="block" loading="eager" />
            <img src="https://via.placeholder.com/24x24?text=I" alt="Instagram" class="block" loading="eager" />
            <img src="https://via.placeholder.com/24x24?text=W" alt="Whatsapp" class="block" loading="eager" />
            <img src="https://via.placeholder.com/24x24?text=Y" alt="Youtube" class="block" loading="eager" />
        </div>
    </div>

    <!-- Column 2 -->


    <!-- Column 3 -->


    <!-- Column 4 -->
</section>
